<h1>My Lists</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <% if policy(List.new).create? %>
        <%= link_to "New List", new_list_path, class: 'btn btn-success right' %>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <% @lists.each do |list| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to list.title, list %>
          </h4>
            <small>
              submitted <%= time_ago_in_words(list.created_at) %> ago
            </small>
        </div>
      </div>
    <% end %>
  </div>
</div>