<br/>
<div class="jumbotron">
    <h1>Bloccitoff</h1>
    <p>A self-destructing to-do list to keep you focused on the things that really matter.</p>
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2><u>You're Saving The Planet!</u></h2>
      <p>By using Bloccitoff you never have to write down a todo list on paper ever again, thus saving millions of poor innocent trees around the world.</p>
    </div>
    <div class="col-md-4">
      <h2><u>Todo Lists That Motivate You!</u></h2>
      <p>Your todo list items delete themselves within 7 days, motivating the user to get that task done and in a specific amount of time.</p>
    </div>
    <div class="col-md-4">
      <h2><u>Create Multiple Todo Lists!</u></h2>
      <p>Bloccitoff gives you the ability to create and store multiple todo lists all in one place.</p>
    </div>
  </div>
</div>